@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&family=Shrikhand&display=swap");
@-webkit-keyframes menu {
  from {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes menu {
  from {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

body {
  margin: 0;
  height: 100vh;
}

main {
  font-family: "Roboto";
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h2,
p {
  margin: 0;
}

.titre {
  font-family: "Shrikhand";
}

.flex-center, .number, header, .localisation, .explorer, .menu__titre, .menu__card .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg-image, .gout, .enchantee, .francaise, .delice {
  width: 100%;
  height: 300px;
  background-size: cover;
}

.number {
  position: absolute;
  left: -10px;
  top: 30%;
  background-color: #9356DC;
  border-radius: 50%;
  font-size: 0.8rem;
  padding: 10px;
  height: 10px;
  color: white;
}

.btn {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(147, 86, 220, 0.9)), to(rgba(255, 121, 218, 0.9)));
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  padding: 10px;
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 1.2rem;
  margin: 20px;
  -webkit-box-shadow: 0 5px 15px #00000033;
          box-shadow: 0 5px 15px #00000033;
}

.loader {
  background-color: white;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0.9;
  -webkit-animation: loader 3s;
          animation: loader 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .fa-utensils {
  position: absolute;
  top: 50%;
  right: 50%;
  font-size: 50px;
}

@-webkit-keyframes loader {
  to {
    visibility: hidden;
  }
}

@keyframes loader {
  to {
    visibility: hidden;
  }
}

header {
  height: 150px;
  position: relative;
  z-index: 0;
  -webkit-box-shadow: 0 5px 15px #00000033;
          box-shadow: 0 5px 15px #00000033;
}

header a {
  color: black;
}

.logo {
  font-family: "Shrikhand";
  font-size: 1.5rem;
  text-align: center;
}

.logo h1 {
  margin: 5px;
}

.fa-arrow-left {
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

footer {
  background-color: #353535;
  color: white;
  width: 100%;
  min-height: 200px;
}

.footer__logo {
  font-family: "Shrikhand";
}

.footer__logo h2 {
  padding-top: 20px;
  -webkit-padding-start: 40PX;
          padding-inline-start: 40PX;
  font-size: 40px;
}

.footer__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  gap: 10px;
}

.footer__list a p {
  font-size: 18px;
}

.localisation {
  padding: 20px;
  background-color: #f3f3f3;
  gap: 10px;
}

.localisation p {
  font-weight: bold;
}

.explorer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fafafa;
  padding: 30px 0;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 20px 0;
}

.navbar__titre {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  margin-bottom: 30px;
}

.navbar__contenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fafafa;
  padding: 30px 0;
  gap: 30px;
}

.restaurant__titre {
  text-align: center;
  font-weight: 900;
}

.bloc__restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bloc__restaurant .restaurant__card {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  margin-bottom: 30px;
}

.gout {
  background-image: url("./images/restaurants/gout.jpg");
}

.enchantee {
  background-image: url("./images/restaurants/enchantee.jpg");
}

.francaise {
  background-image: url("./images/restaurants/francaise.jpg");
}

.delice {
  background-image: url("./images/restaurants/delice.jpg");
}

.menuu {
  background-color: #fafafa;
  border-radius: 40px;
  width: 60%;
  margin: -50px auto 100px auto;
  padding-bottom: 30px;
}

.menuu .menu__btn {
  margin-top: 30px;
  text-align: center;
}

.bloc__menuTitre {
  font-family: "Shrikhand";
  position: relative;
}

.bloc__menuTitre .titre {
  font-size: 25px;
  padding: 20px 0 0 30px;
  margin-bottom: 20px;
}

.bloc__menuTitre .hover {
  top: 50%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  max-width: 100%;
  -webkit-animation: menu 2s;
          animation: menu 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menu:nth-child(1) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.menu:nth-child(2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.menu:nth-child(3) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.menu__titre {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__titre h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__titre h2::after {
  content: "";
  background-color: #99e2d0;
  height: 0.25rem;
  width: 50px;
}

@media screen and (max-width: 1166px) {
  .menuu {
    margin: -50px 0 0 0;
    width: 100%;
  }
  .menu__card {
    width: 90% !important;
  }
}

@media screen and (max-width: 920px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .navbar__btn .hover-color {
    padding-left: 50px;
  }
  .navbar__contenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 60%;
    gap: 30px;
  }
}

@media screen and (max-width: 768px) {
  header {
    height: 100px;
  }
  .logo {
    font-size: 17px;
  }
  .fa-arrow-left {
    font-size: 25px;
    left: 35px;
  }
  .navbar {
    display: block;
  }
  .navbar__titre {
    margin-left: 20px;
  }
  .navbar__contenu {
    margin: 0 auto;
    width: 80%;
  }
  .bloc__restaurant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .restaurant__titre {
    text-align: start;
    margin-left: 20px;
  }
  .restaurant__card {
    width: 90%;
  }
}

@media screen and (max-width: 778px) {
  .explorer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .explorer__titre {
    width: 70%;
    text-align: center;
  }
  .explorer_text {
    width: 80%;
    text-align: center;
  }
  .footer__list {
    padding-bottom: 30px;
  }
  .footer__list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
  .menu__cardText h2,
  .menu__cardText p {
    font-size: 16px;
  }
}

@media screen and (max-width: 388px) {
  .menu__cardText h2,
  .menu__cardText p {
    font-size: 16px;
  }
}

.hover__heart {
  position: absolute;
  top: 7px;
  right: 10px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.hover__heart::before {
  content: "\f004";
  font-family: "Font Awesome 5 free";
  font-weight: 400;
  position: absolute;
  right: 10px;
  font-size: 2rem;
}

.hover__heart::after {
  content: "\f004";
  font-family: "Font Awesome 5 free";
  font-weight: 900;
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 2rem;
  opacity: 0;
  cursor: pointer;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(147, 86, 220, 0.9)), to(rgba(255, 121, 218, 0.9)));
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}

.hover__heart:hover::after {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

.hover__heart:hover::before {
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  color: transparent;
}

.heart__menu {
  top: 22px;
  right: 25px;
}

.navbar__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  background-color: #f3f3f3;
  position: relative;
  border-radius: 15px;
  padding: 25px 25px;
  margin-left: 10px;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 15px #00000033;
          box-shadow: 0 5px 15px #00000033;
}

.navbar__btn p {
  font-weight: bold;
}

.navbar__btn:hover {
  background-color: #f5edff;
}

.navbar__btn:hover .hover-color {
  color: #9356DC;
}

.restaurant__card {
  background-color: white;
  border-radius: 15px;
  position: relative;
  color: black;
  -webkit-box-shadow: 0 5px 15px #00000033;
          box-shadow: 0 5px 15px #00000033;
}

.restaurant__card h2,
.restaurant__card p {
  margin: 5px auto;
}

.restaurant__card::before {
  content: "Nouveau";
  position: absolute;
  right: 30px;
  top: 10px;
  color: black;
  background-color: #99e2d0;
  padding: 10px;
}

.restaurant__cardText {
  position: relative;
  margin-left: 20px;
}

.restaurant__card img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.menu__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  margin: 20px;
  border-radius: 15px;
  height: 100px;
  overflow: hidden;
  width: 70%;
  -webkit-box-shadow: 0 5px 15px #00000033;
          box-shadow: 0 5px 15px #00000033;
  cursor: pointer;
}

.menu__card:hover .check {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  margin-right: 0;
}

.menu__card:hover .check .fa-check {
  -webkit-animation: check 0.7s;
          animation: check 0.7s;
}

@-webkit-keyframes check {
  from {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    margin: 0;
  }
}

@keyframes check {
  from {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    margin: 0;
  }
}

.menu__cardText {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 20px;
  overflow: hidden;
  max-width: 100%;
}

.menu__card h2,
.menu__card p {
  margin-bottom: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu__cardPrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: auto;
  height: 100%;
  padding: 0 20px 35px 0;
}

.menu__cardPrice p {
  font-size: 15px;
  font-weight: 900;
  padding-right: 5px;
}

.menu__card .check {
  background-color: #99e2d0;
  height: 100%;
  width: 70px;
  margin-right: -70px;
}

.menu__card .check .fa-check {
  background-color: white;
  padding: 10px;
  border-radius: 50%;
}
/*# sourceMappingURL=style.css.map */