// Code css de l'index
.localisation {
    @extend .flex-center ; 
    padding: 20px;
    background-color: $localisation__bg;
    gap: 10px;

    p {
        font-weight: bold;
    }
}

.explorer {
    @extend .flex-center ; 
    flex-direction: column;
    background-color: $explorer__bg;
    padding: 30px 0;

}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;

    &__titre {
        flex-basis: 90%;
        margin-bottom: 30px;
    }

    &__contenu {
        display: flex;
        gap: 50px;
    }
}

.restaurant {
    display: flex;
    flex-direction: column;
    background-color: $explorer__bg;
    padding: 30px 0;
    gap: 30px;
    &__titre {
        text-align: center;
        font-weight: 900;
    }

    
}

.bloc__restaurant {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .restaurant__card {
        flex-basis: 40%;
        margin-bottom: 30px;
    }
}