//  Code css de la page menu

.gout {
    background-image: url($bg-image-gout );
    @extend .bg-image ;
}

.enchantee {
    background-image: url($bg-image-enchante);
    @extend .bg-image ;
}

.francaise {
    background-image: url($bg-image-francaise );
    @extend .bg-image ;
}

.delice {
    background-image: url($bg-image-delice);
    @extend .bg-image ;
}

.menuu {
    background-color: $explorer__bg;
    border-radius: 40px;
    width: 60%;
    margin: -50px auto 100px auto;
    padding-bottom: 30px;

    .menu__btn {
        margin-top: 30px;
        text-align: center;
    }
}

.bloc__menu {

    &Titre {
        font-family: $police_logo;
        position: relative;

        .titre {
            font-size: 25px;
            padding: 20px 0 0 30px;
            margin-bottom: 20px;
        }

        .hover {
            top: 50%;
        }
    }
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    max-width: 100%;
    @include animation_menu;

   

    &__titre {
       @extend .flex-center ;
        flex-direction: column;

        h2 {
            display: flex;
            flex-direction: column;

            @include underline;
        }
    }
}

