// Mixin positionnement
@mixin flex-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@mixin centrer {
    display: flex;
    align-items: center;
    justify-content: center;
}

//  mixin pour les ombres
@mixin box-shadow {
    box-shadow: 0 5px 15px #00000033;
}

@mixin gradient {
    background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}

//  affiche alerte nouveau
@mixin new {
    &::before {
        content: "Nouveau";
        position: absolute;
        right: 30px;
        top: 10px;
        color: black;
        background-color: $tertiaire;
        padding: 10px;
    }
}

// Animation du menu
@mixin animation_menu {
    animation: menu 2s;
    animation-fill-mode: both;
    @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
            animation-delay: 1s * $i;
        }
    }
}

@keyframes menu {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
    }
}

// Affiche le coeur
@mixin heart {
    &::before {
        content: "\f004";
        font-family: "Font Awesome 5 free";
        font-weight: 400;
        position: absolute;
        right: 10px;
        font-size: 2rem;
    }
    &::after {
        content: "\f004";
        font-family: "Font Awesome 5 free";
        font-weight: 900;
        position: absolute;
        top: 0px;
        right: 10px;
        font-size: 2rem;
        opacity: 0;
        cursor: pointer;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
    }
    &:hover::after {
        opacity: 1;
        transition: 1s;
    }
    &:hover::before {
        opacity: 0;
        transition: 1s;
        color: transparent;
    }
}

// Mixin pour sous-ligné
@mixin underline {
    &::after {
        content: "";
        background-color: $tertiaire;
        height: 0.25rem;
        width: 50px;
    }
}

//  animation check
@mixin check {
    animation: check 0.7s;
    @keyframes check {
        from {
            transform: rotate(-270deg);
        }
        to {
            transform: rotate(0deg);
            margin: 0;
        }
    }
}